<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.rickastlee.viamonet"
    platformBuildVersionCode="34"
    platformBuildVersionName="14"
    android:installLocation="auto"
    android:compileSdkVersion="34"
    android:compileSdkVersionCodename="14"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-permission
        android:name="com.rickastlee.viamonet_mark.via.permission.BROADCAST" />
    <!-- Allows the app to view information about network connections such as which networks exist and are connected. -->
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Allows the app to view information about Wi-Fi networking, such as whether Wi-Fi is enabled and name of connected Wi-Fi devices. -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Allows the app to create network sockets and use custom network protocols. The browser and other applications provide means to send data to the internet, so this permission is not required to send data to the internet. -->
    <uses-permission
        android:name="android.permission.INTERNET" />
    <!-- Allows the app to write the contents of your shared storage. -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <!-- Allows the app to prevent the phone from going to sleep. -->
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <!-- This app can get your precise location from location services while the app is in use. Location services for your device must be turned on for the app to get location. This may increase battery usage. -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Allows an application to request installation of packages. -->
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- Allows the app to make use of foreground services. -->
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- This app can record audio using the microphone at any time. -->
    <uses-permission
        android:name="android.permission.RECORD_AUDIO" />
    <!-- Allows the app to modify global audio settings such as volume and which speaker is used for output. -->
    <uses-permission
        android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- Allows an application to add Homescreen shortcuts without user intervention. -->
    <uses-permission
        android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission
        android:name="com.rickastlee.viamonet_com.bbk.launcher2.permission.READ_SETTINGS" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
        android:minSdkVersion="34" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"
        android:minSdkVersion="34" />
    <queries>
        <package
            android:name="com.huawei.systemmanager" />
        <package
            android:name="com.miui.securitycenter" />
        <package
            android:name="com.vivo.permissionmanager" />
        <package
            android:name="com.iqoo.secure" />
        <package
            android:name="com.oppo.launcher" />
        <package
            android:name="com.color.safecenter" />
        <package
            android:name="com.meizu.safe" />
        <package
            android:name="com.dv.adm.pay" />
        <package
            android:name="com.dv.adm" />
        <package
            android:name="idm.internet.download.manager.plus" />
        <package
            android:name="idm.internet.download.manager" />
        <package
            android:name="idm.internet.download.manager.adm.lite" />
        <package
            android:name="com.vanda_adm.vanda" />
        <package
            android:name="org.freedownloadmanager.fdm" />
        <package
            android:name="com.dv.get" />
        <package
            android:name="com.tachibana.downloader" />
        <package
            android:name="com.gianlu.aria2app" />
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <data
                android:mimeType="*/*" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <category
                android:name="android.intent.category.BROWSABLE" />
            <data
                android:scheme="*" />
        </intent>
        <intent>
            <action
                android:name="android.intent.action.VIEW" />
            <data
                android:mimeType="video/*" />
        </intent>
    </queries>
    <!-- This app can take pictures and record videos using the camera at any time. -->
    <uses-permission
        android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <application
        android:theme="@style/q"
        android:label="@string/c1"
        android:icon="@mipmap/ic_launcher"
        android:name="mark.via.BrowserApp"
        android:windowSoftInputMode="adjustPan"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/a"
        android:usesCleartextTraffic="true"
        android:resizeableActivity="true"
        android:networkSecurityConfig="@xml/e"
        android:roundIcon="@mipmap/ic_launcher"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:dataExtractionRules="@xml/b"
        android:localeConfig="@xml/d">
        <activity
            android:name="mark.via.Shell"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <category
                    android:name="android.intent.category.APP_BROWSER" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="http" />
                <data
                    android:scheme="https" />
                <data
                    android:scheme="about" />
                <data
                    android:scheme="javascript" />
                <data
                    android:scheme="via" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:scheme="http" />
                <data
                    android:scheme="https" />
                <data
                    android:scheme="inline" />
                <data
                    android:scheme="file" />
                <data
                    android:scheme="content" />
                <data
                    android:mimeType="text/html" />
                <data
                    android:mimeType="text/plain" />
                <data
                    android:mimeType="application/xhtml+xml" />
                <data
                    android:mimeType="application/vnd.wap.xhtml+xml" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.WEB_SEARCH" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <category
                    android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEARCH" />
                <category
                    android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action
                    android:name="android.intent.action.SEND" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="text/plain" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/f" />
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="mark.via.Trampoline"
            android:exported="true"
            android:taskAffinity="mark.via.Trampoline"
            android:excludeFromRecents="true" />
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/pe"
            android:name="mark.via.Search"
            android:exported="true"
            android:excludeFromRecents="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.PROCESS_TEXT" />
                <category
                    android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <service
            android:name="mark.via.service.DownloadService"
            android:foregroundServiceType="dataSync" />
        <meta-data
            android:name="android.webkit.WebView.MetricsOptOut"
            android:value="true" />
        <meta-data
            android:name="android.max_aspect"
            android:value="2.5" />
        <meta-data
            android:name="EasyGoClient"
            android:value="false" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.rickastlee.viamonet.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/c" />
        </provider>
        <receiver
            android:name="mark.via.receiver.DownloadReceiver"
            android:exported="false" />
        <receiver
            android:name="mark.via.widget.SearchWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/g" />
        </receiver>
        <service
            android:name="mark.via.service.ReadAloudService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />
        <receiver
            android:name="mark.via.receiver.ReadAloudReceiver"
            android:exported="false" />
    </application>
</manifest>